ul.cr-list-group {
  list-style: none none !important;
  padding: 0;
  margin: 0;
}

.cr-container {
  margin-top: 50px;
  margin-bottom: 100px;
}

.cr-content-window-wrapper {
  margin: 10px;
  text-align: center;
}

.cr-list-group-item.disabled {
  opacity: 0.3;
}

.cr-list-group-item .cr-content-window-wrapper .cr-content-window {
  padding: 20px 0;
}

.cr-item {
  text-align: left;
  font-size: 18px;
  color: #292d33;
  padding-top: 3px;
}

.cr-item-text {
  float: left;
  width: 600px;
}

.cr-item-badge {
  float: right;
  margin-right: 20px;
}

.cr-content-window .cr-icofont {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #b3b3b3;
}

.cr-content-window .cr-icofont-2x {
  margin-top: 0;
  margin-left: 0;
}

.cr-content-window .cr-icofont.cr-icofont-check {
  background-color: #32cd32;
}

.cr-content-window .cr-icofont.cr-icofont-circle {
  height: 2em;
  width: 2em;
}

.cr-container .cr-icofont.cr-icofont-loader {
  border: 2px solid #ffffff;
  border-top-color: #b3b3b3;
  height: 14px;
  width: 14px;
  margin-top: 4px;
  margin-left: 4px;
  animation: cr-icofont-rotate 2s linear infinite;
}

.cr-container .cr-progress-text {
  color: #a7a4a4;
}

.cr-container .cr-progress-text.completed {
  color: #32cd32;
}
