@keyframes cr-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cr-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
}
body[class^="cleverreach-content"] .page-title-wrapper {
  display: none;
}

.hidden {
  display: none;
}

.cr-logo {
  margin: 20px 10px 5px;
  width: 200px;
}

.cr-container {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

.cr-content-window-wrapper {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.cr-content-window-wrapper .cr-content-window {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  width: 100%;
  max-width: 740px;
  display: inline-block;
  padding: 60px 0;
}

.cr-content-window-wrapper .cr-content-window .cr-action-buttons-wrapper {
  margin-top: 20px;
}

.cr-content-window-wrapper .cr-content-window h3 {
  font-weight: 300;
  font-size: 24px;
  color: #292d33;
  line-height: 28px;
}

.cr-content-window-wrapper .cr-content-window button {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

.cr-content-window-wrapper .cr-content-window .cr-main-text {
  font-weight: 300;
  font-size: 14px;
  padding: 12px;
  color: #555555;
}

.cr-content-window-wrapper .cr-content-window .cr-primary {
  font-weight: 300;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.12);
  background-color: #ec6702;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  padding: 15px 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px #ec6702 solid;
  width: 515px;
}

.cr-content-window-wrapper .cr-content-window .cr-primary:hover {
  background-color: #b95102;
  border-color: #af4d01;
}

.cr-content-window-wrapper .cr-content-window .cr-secondary {
  font-weight: 300;
  background-color: #e4e9ea;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  font-size: 16px;
  color: #292d33;
  padding: 15px 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid #e4e9ea;
  width: 515px;
}

.cr-content-window-wrapper .cr-content-window .cr-secondary:hover {
  background-color: #d7dcdd;
  border-color: #d7dcdd;
}

.cr-content-window-wrapper .cr-content-window .cr-icon {
  content: url(../images/icon_quickstartmailing.svg);
  width: 320px;
  margin-bottom: 30px;
}

.cr-content-window-wrapper .cr-content-window .cr-welcome-icon {
  width: 320px;
  margin-bottom: 30px;
}

.cr-container .cr-loader-big {
  text-align: center;
  min-height: 150px;
  display: none;
}

.cr-container .cr-loader {
  float: left;
  margin-right: 10px;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #ec6702;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: cr-spin 2s linear infinite;
}

.cr-container .cr-loader-big .cr-loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #ec6702;
  width: 70px;
  height: 70px;
  display: block;
  margin: auto;
}

.cr-container .cr-connecting {
  text-align: center;
  display: none;
  color: #ec6702;
}

.cr-container .cr-message-window {
  position: absolute;
  margin: 0 auto;
  top: 10px;
  left: 0;
  right: 0;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ec6702;
  color: #eeeeee;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}

.cr-container .cr-message-window.show {
  visibility: visible;
  opacity: 1;
}
