.cr-container .cr-tab-wrapper {
  width: 100%;
  height: 50px;
  background: #f5f5f5;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 2px;
  font-weight: 300;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  padding-top: 9px;
  box-shadow: inset 0 -2px 0 0 #f0f0f0;
}

.cr-container .cr-tab-wrapper .cr-dashboard-tab {
  display: inline-block;
  border: none;
  background: white;
  height: 40px;
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-radius: 4px 4px 0 0;
  cursor: auto;
  box-shadow: inset 0 1px 0 0 #f0f0f0;
  box-sizing: border-box;
  padding: 0 15px;
}

.cr-container .cr-tab-wrapper .cr-pull-right {
  padding-right: 20px;
  display: inline-block;
  float: right;
  color: #555555;
}

.cr-container .cr-tab-wrapper .cr-dashboard-tab-wrapper {
  padding-left: 20px;
  display: inline-block;
  height: 50px;
  width: 155px;
  position: relative;
  box-sizing: border-box;
}

.cr-container .cr-tab-wrapper .cr-pull-right .cr-id {
  margin-left: 30px;
  display: inline-block;
}

.cr-container .cr-tab-wrapper .cr-pull-right a {
  color: #555555;
  cursor: pointer;
  text-decoration: none;
}

.cr-content-window-wrapper .cr-content-window .cr-action-buttons-wrapper {
  margin-top: 20px;
}

.cr-content-window-wrapper .cr-content-window {
  border: 2px solid #ec6702;
}

.cr-content-window-wrapper .cr-subcontent-window {
  padding-top: 10px;
  font-weight: 300;
  font-size: 14px;
  color: #555555;
}
.cr-content-window-wrapper .cr-subcontent-window button {
  color: #ec6702;
  background: none;
  border: none;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
}
.cr-configuration {
  padding: 20px;
  text-align: left;
}
.cr-configuration i {
  font-size: 11px;
}


.cr-dashboard-block {
  text-align: center;
  margin-top: 20px;
}

.cr-dashboard-container {
  display: inline-block;
}

.cr-dashboard-logo {
  position: relative;
  float: right;
  margin-top: -198px;
  padding-top: 8px;
  margin-right: -9px;
}

.cr-dashboard-container .cr-create {
  float: left;
  width: 611px;
  height: 463px;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.10);
  border-radius: 3px;
  background-size: 611px 463px;
  background: url("../images/card-background.jpg") no-repeat top center;
  padding: 211px 30px 28px;
  text-align: left;
  box-sizing: border-box;
  position: relative;
}

.cr-has-import .cr-create {
  width: 550px !important;
}

.cr-dashboard-container .cr-import {
  float: left;
  position: relative;
  margin-right: 20px;
  width: 318px;
  height: 463px;
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.22);
  border-radius: 3px;
  background-color: #ffffff;
  background-size: 100%;
  box-sizing: border-box;
  text-align: center;
}

.cr-dashboard-container .cr-create h3 {
  font-family: HelveticaNeue-Bold, Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: bold;
  font-size: 42px;
  color: #ffffff;
  line-height: 39px;
  margin-top: -5px;
  margin-bottom: 13px;
  box-sizing: border-box;
}

.cr-has-import .cr-create h3 {
  margin-bottom: 11px !important;
}

.cr-dashboard-container .cr-create .cr-main-text {
  font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-size: 17px;
  color: #ffffff;
  line-height: 22px;
  margin-bottom: 63px;
  box-sizing: border-box;
}

.cr-dashboard-container .cr-create .cr-button-container {
  text-align: center;
  position: absolute;
  bottom: 28px;
  height: 28px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.cr-dashboard-container .cr-create .cr-button-container .cr-primary {
  color: #ec6702;
  font-weight: bold;
  font-size: 15px;
  background-color: #ffffff;
  padding: 12px 30px;
  min-width: 160px;
  height: 41px !important;
  border-radius: 5px;
  border: 1px #ae5702 solid;
  border-top: 0;
  border-left: 0;
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.22);
  line-height: 0;
  cursor: pointer;
}

.cr-dashboard-container .cr-import svg {
  display: inline-block;
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
}

.cr-dashboard-container .cr-import .cr-import-successful {
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}

.cr-dashboard-container .cr-import .cr-success-circle {
  width: 41px;
  height: 41px;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  background-color: #ffffff;
  border-radius: 90px;
  box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.17);
  margin: 0 auto;
}

.cr-dashboard-container .cr-import .cr-success-circle .fa-check {
  font-size: 21px;
  color: #23bc3c;
  margin-top: 10px;
}

.cr-dashboard-container .cr-import .cr-report-content {
  margin-top: 90px;
  padding-left: 21px;
  padding-right: 21px;
  height: 336px;
  width: 276px;
}

.cr-dashboard-container .cr-import .cr-report-content .cr-recipients {
  width: 276px;
  height: 59px;
  padding-top: 53px;
  border-bottom: 1px solid #d8d8d8;
}

.cr-dashboard-container .cr-import .cr-report-content .cr-recipient-list {
  width: 276px;
  height: 83px;
  border-bottom: 1px solid #d8d8d8;
  padding-top: 25px;
  box-sizing: border-box;
}

.cr-dashboard-container .cr-import .cr-report-content .cr-segments {
  width: 276px;
  height: 140px;
  padding-top: 25px;
  box-sizing: border-box;
}

.cr-dashboard-report-icon-small {
  width: 65px;
  height: 100%;
  float: left;
  font-family: FontAwesome5FreeSolid sans-serif;
  font-size: 26px;
  color: #555555;
}

.cr-dashboard-report-icon-large {
  width: 65px;
  height: 100%;
  float: left;
  font-family: FontAwesome5FreeSolid sans-serif;
  font-size: 29px;
  color: #555555;
}

.cr-dashboard-concrete-report {
  margin-left: 65px;
  width: 211px;
  height: 100%;
}

.cr-dashboard-concrete-report .title {
  font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-size: 13px;
  text-align: left;
  margin-top: -5px;
  color: #555555;
}

.cr-dashboard-concrete-report .value {
  font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-size: 17px;
  line-height: 21px;
  text-align: left;
  color: #555555;
}

.cr-dashboard-concrete-report .cr-value-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cr-dashboard-container .cr-import .cr-gdpr {
  padding-top: 7px;
  padding-left: 21px;
  border-top: 1px solid #d8d8d8;
  text-align: left;
}

.cr-dashboard-container .cr-import .cr-gdpr .cr-link {
  color: #ec6702;
  text-decoration: underline;
  font-family: HelveticaNeue-Italic, Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-size: 12px;
  box-sizing: border-box;
}
